/********************************************
              Página de cadastro
********************************************/

.containerListarDados,
.containerCadastro {
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 1440px;
  margin: 0 auto;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px;
  margin: 60px auto 0 auto;
}

.mdc-text-field {
  width: 100%;
  margin-bottom: 24px;
}

.mdc-button {
  max-width: 200px;
}

#btnVisualizarLista {
  margin-top: 24px;
  text-align: center;
}

/********************************************
           Página de dados cadastrais
********************************************/

.containerTable {
  max-width: 950px;
  margin: 0 auto;
}

.IconDelete:hover {
  cursor: pointer;
}

#btnVoltar {
  text-align: center;
  margin: 24px auto 0 auto;
}
